---
// Layout
import BaseLayout from "../../layouts/BaseLayout.astro";
import Section from "../../layouts/Section.astro";
import Heading from "../../layouts/Heading.astro";

// Components
import Image from "astro/components/Image.astro";
import { marked } from "marked";

import { getAllCases } from "../../lib/cosmic";

export async function getStaticPaths() {
  const data = (await getAllCases()) || [];

  return data.map((post) => {
    return {
      params: { slug: post.slug },
      props: { post },
    };
  });
}

const { post } = Astro.props;
---

<BaseLayout title={post.title}>
  <article class="pb-20">
    <Heading headline={post.title} />

    <Section>
      <Image
        inferSize
        src={`${post.metadata.cover_image.imgix_url}`}
        alt={post.title}
        class="w-full mx-auto rounded-lg my-4 mb-10"
        loading="eager"
      />

      <div
        class="prose max-w-none prose-headings:font-display prose-h2:text-[6dvw] md:prose-h2:text-3xl prose-h3:text-[4dvw] md:prose-h3:text-2xl prose-h4:text-[2dvw] md:prose-h4:text-lg prose-img:w-full prose-img:mx-auto prose-img:rounded-lg prose-a:text-blue"
        set:html={marked(post.metadata.content)}
      />
    </Section>
  </article>
</BaseLayout>
