---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/global/Header.astro";
import Footer from "../components/global/Footer.astro";
import Image from "astro/components/Image.astro";
import { slide } from "astro:transitions";

const { frontmatter } = Astro.props;
---

<html
  lang="pt-br"
  class="lenis selection:bg-accent-500 selection:text-white no-touchevents hydrated"
>
  <head>
    <BaseHead />
    <title>{frontmatter.title} | Hexlab</title>
  </head>
  <body class="flex flex-col min-h-dvh">
    <Header />

    <main
      class="grow mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 pb-10"
      transition:animate={slide({ duration: "0.4s" })}
    >
      <article class="pt-10 pb-16 md:pt-20 md:pb-24">
        <h1
          class="text-[8dvw] tracking-tight font-medium text-black md:text-5xl font-display"
        >
          {frontmatter.title}
        </h1>
        <p class="text-[4dvw] md:text-sm">
          {
            frontmatter.pubDate
              .toString()
              .slice(0, 10)
              .split("-")
              .reverse()
              .join("/")
          }
        </p>
        <div class="categories pt-4 pb-8">
          <ul class="flex gap-1 gap-y-5 sm:gap-2 sm:gap-y-4 flex-wrap">
            {
              frontmatter.category.map((category) => (
                <li class="tag">
                  <a
                    class="px-4 py-2 rounded-full border border-solid border-blue border-opacity-40 hover:bg-blue hover:text-white transition-colors duration-150 hover:drop-shadow-md"
                    href={`/category/${category}`}
                  >
                    {category}
                  </a>
                </li>
              ))
            }
          </ul>
        </div>

        <Image
          inferSize
          src={frontmatter.image.url}
          alt={frontmatter.image.alt}
          class="w-full mx-auto rounded-lg my-4"
          loading="eager"
        />

        <p class="text-sm">
          <slot />
        </p>
      </article>
    </main>

    <Footer />

    <script>
      import "../components/assets/scripts/lenisSmoothScroll";
    </script>
  </body>
</html>
